@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* coloca bordas e padding na largura total dos elementos */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #5c6c5c29;
    overflow-x: hidden; /* Evita rolagem horizontal */
    margin: auto;
}

header {
    font-size: 13px;
    padding-top: 40px;
    padding-bottom: 10px; /* Adiciona um padding inferior */
    text-align: center;
    background-image: linear-gradient(to bottom, #87E04C, #26aa4b);
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.248);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.449);
    min-height: 60px;
    /*margin-bottom: px; Espaço entre o header e o próximo elemento */
    width: 100%;
    
}

header h1 {
    padding-bottom: 15px;
}

main {
    background-color: white;
    text-indent: 15px;
    text-align: justify;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-top: -16px;
    padding: 16px; /* Uniformiza o padding interno */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.122);
    hyphens: auto;
    text-justify: inter-word;
    text-align-last: left;
}

#centralizar {
    margin: auto;
    padding: auto;
}

main h2 {
    background-image: linear-gradient(to right, #26aa4b44, #87e04c56);
    color: #36553f;
    padding: 5px;
    margin: 15px 0; /* Remove margens negativas e ajusta */
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.101);
}

main p {
    font-size: 17px;
}

main picture img {
    display: block;
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do container */
    height: auto; /* Mantém a proporção da imagem */
    margin: 20px auto; /* Centraliza e dá espaço uniforme acima e abaixo */
}

footer {
    font-size: 8px;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 5px;
}

footer a {
    color: black;
    text-decoration: none;
}